<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p id="container" *ngIf="sin_favoritos" style="font-size: 18px; font-weight: bold; color: black;">¡Sin favoritos por el momento!</p>
  <ion-grid>
    <div padding></div>
    <div padding></div>
    <ion-row justify-content-center>
      <ion-col size-xs="6" *ngFor="let p of animales" style="display: flex;">
        <div style="width: 100%; display: flex; border-bottom: 1.2px solid #BBB; border-radius: 15px;">
          <div style="width: 30%;">
            <img class="id_masc" src="{{p.fotoMascota}}" style="border-radius: 39px; width: 83px; height: 55px;" />
          </div>
          <div id="id_cont" style="width: 59%; margin-left: 4.5px;">
            <div style="padding-bottom: 2.4%;">
            <p style="font-size: 11.5px; margin: 0; color: black;">{{p.nombre}}, {{p.color}}</p>
            <p style="font-size: 11.5px; margin: 0; color: black;">Edad: {{p.edad}}</p>
            <p style="font-size: 11.5px; margin: 0; color: black;">Ubicacion: {{p.ubicacion}}</p>
          </div>
          </div>
          <div style="width:11%; display: block;">
            <div style="margin-top: 32px; cursor: pointer;">
              <img src="/assets/icon/trash.svg" (click)="elemento(p)" style="width: 23px; height: 18px; cursor: pointer;" alt/>
            </div>          
          </div>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>