ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.centrar-mensaje {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.contMesElim{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(33, 37, 41, 0.5);
    position: fixed;
    z-index: 1;
}
.textMensaje{
    padding-top: -3em;
    padding-bottom: 1.3em;
}
.textMensaje p{
    font-size: 1.125em;
    color: #5B676E;
}
.contaiMensaEli{
    background: #ffffff;
    //padding: 2.5em;
    padding-bottom: 1em;
    border-radius: .5em;
    margin: .5em;
}
.btnsMensajeElim{
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
}

.botonMensaEli{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #000000;    //5f2167
    border-color: #000000;        //5f2167
    width: 6.5em;
    margin-left: 4%;
}

//Loader
.all{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 18%;
  background:transparent;
  position: fixed;
}
@media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 800px ) and (max-width: 1280px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 768px ) and (max-width: 1024px ) {
  .all{
    padding-top: 29%;     
  }
} 

@media only screen and (min-width: 767px) and (max-width: 940px) {
  .all{
    padding-top: 40%;     
  }
} 
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .all{
    padding-top: 78%;     
  }
}
@media only screen and (min-width: 200px) and (max-width: 259px) {
  .all{
    padding-top: 98%;     
  }
  .carg{
      width: 25%;
      margin: auto;
      text-align: center;
      font-size: 5px;
  }
}
.carg{
  width: 35%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
.cargando{
  border: 1.5px solid rgb(0, 0, 0);    //CCC     solid rgb(0, 0, 0);
  border-top: 2px;
  border-top-color: transparent;
  border-top-style: solid;
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 278px;
  animation:girar 1.0s linear infinite;
  -o-animation:girar 1.0s linear infinite;
  -webkit-animation:girar 1.0s linear infinite;
}
@keyframes girar{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
  }