<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<!--<ion-spinner>Cargando</ion-spinner>-->

<ion-content>
  <ion-grid>
    <div padding></div>
    <div padding></div>
    <ion-row justify-content-center>
      <ion-col size-xs="6" *ngFor="let p of animales" style="display: flex;">
        <div style="width: 100%; display: flex; border-bottom: 1.3px solid #BBB; border-radius: 15px; height: 60px;">
          <div style="width: 30%;">
            <img class="id_masc" src="{{p.fotoMascota}}" style="border-radius: 39px; width: 83px; height: 55px;" />
          </div>
          <div id="id_cont" style="width: 59%; margin-left: 4.5px;">
            <div style="padding-bottom: 2.4%;">
            <p style="font-size: 11.5px; margin: 0; color: black;">{{p.nombre}}, {{p.color}}</p>
            <p style="font-size: 11.5px; margin: 0; color: black;">Edad: {{p.edad}}</p>
            <p style="font-size: 11.5px; margin: 0; color: black;">Ubicacion: {{p.ubicacion}}</p>
          </div>
          </div>
          <div style="width:11%; display: block;">
            <div style="margin-top: 3.4px; cursor: pointer;">
              <img src="/assets/icon/favoritos.svg" (click)="favorito(p)"
          style="width: 23px; height: 18px;" alt/>
            </div>
            <div style="margin-top: 6px; cursor: pointer;">
              <img src="/assets/icon/help.svg" (click)="valores(p)"
          style="width: 23px; height: 18px;" alt/>
            </div>            
          </div>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>

<div class="contMesElim" *ngIf="descripcion">
  <div class="centrar-mensaje">
    <div class="contaiMensaEli">
      <div class="textMensaje">
        <div style="width: 100%; display: block;">  <!-- margin-top: 1%;-->
          <p style="color: black; text-align: center; font-weight: bold;">{{mascota.nombre}}</p>
          <div style="display: flex;">
            <div style="width: 5%;"></div>
          <div style="width: 55%;">
            <img src="{{mascota.fotoMascota}}" (click)="valores(p)" style="width: 208px; height: 208px; border-radius: 24px;" alt />
          </div>
          <div style="width: 40%;">
            <div style="margin-top: 15%; margin-left: 2%;">
            <p style="color: black; margin: 4px; font-size: 12px;">Color: {{mascota.color}}</p>
            <p style="color: black; margin: 4px; font-size: 12px;">Edad: {{mascota.edad}}</p>
            <p style="color: black; margin: 4px; font-size: 12px;">Ubicación: {{mascota.ubicacion}}</p>
            <p style="color: black; margin: 4px; font-size: 12px;">Teléfono: {{mascota.contacto}}</p>
            <p style="color: black; margin: 4px; font-size: 12px;">Nombre dueño: {{mascota.nombrePropietario}}</p>
            <div text-center class="contact" style="padding-top: 9%;">
              <ion-icon slot="start" src="/assets/icon/whats.svg" style="width: 34.5px; margin-left: 15.5%; cursor: pointer;"></ion-icon>
              <ion-icon slot="start" src="/assets/icon/google_m.svg" style="width: 33.8px; margin-left: 9.2%; cursor: pointer;"></ion-icon>
            </div>
            </div>
          </div>
          </div>
        </div>

      </div>
      <div class="btnsMensajeElim">
        <button type="submit" class="botonMensaEli" (click)="aceptar()">Aceptar</button>
        <button type="submit" class="botonMensaEli" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>