<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
       
        <div style="display: block; position:relative;">
          <ion-spinner *ngIf="spiner" name="lines-small" style="position: absolute; z-index: 1; width: 55px; height: 55px;"></ion-spinner>
          <div style="display: flex;">
            <div style="width: 55px; height: 55px;">
              <ion-icon *ngIf="user" slot="start" src="/assets/icon/user.svg" style="width: 50px; height: 50px;"></ion-icon>
              <img [src]="imagen_base" *ngIf="imagen_base" style="width: 50px; height: 50px; border-radius: 24px;" alt/>
              <!--<img src="{{foto}}" style="width: 50px; height: 50px; border-radius: 24px;" alt />-->
              <ion-icon slot="start" (click)="opciones( $event )" src="/assets/icon/add.svg" style="position: absolute; margin-left: -3.7%; margin-top: 12%; cursor: pointer;"></ion-icon>    <!--(click)="getPicture()"-->            
            </div>
            <div style="margin-left: 2%; padding-top: 8%;">
              <div style="margin-top: 2%; font-size: 12.5px; color: black;">
                <p *ngIf="nombre" style="margin: 0;">{{ nombre }}</p>
                <p *ngIf="correo" style="margin: 0;">{{ correo }}</p>
              </div>
            </div>
          </div>
        </div>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of Icns">
          <ion-item [routerDirection]="'root'" (click)="inicio()" style="cursor: pointer;">  <!--[routerLink]="[p.url]"-->
            <ion-icon slot="start" [name]="p.icon" style="color: black;"></ion-icon>
            <ion-label style="color: black; font-size: 16px;">
              <p style="color: black; font-size: 18px;">Inicio</p>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="favoritos()" style="cursor: pointer;">
            <ion-icon slot="start" src="/assets/icon/favoritos.svg"></ion-icon>
            <ion-label>
              <p style="color: black; font-size: 18px;">Mis favoritos</p>
            </ion-label>
          </ion-item>
          <ion-item (click)="chats()" style="cursor: pointer;">
            <ion-icon slot="start" src="/assets/icon/chats.svg"></ion-icon>
            <ion-label>
              <p style="color: black; font-size: 18px;">Mis chats</p>
            </ion-label>
          </ion-item>
          <ion-item (click)="configuracion()" style="cursor: pointer;">
            <ion-icon slot="start" src="/assets/icon/configuracion.svg"></ion-icon>
            <ion-label>
              <p style="color: black; font-size: 18px;">Configuración</p>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <div class="elemnt" style="padding-bottom: 45%;"></div>
        <p style="color: black; font-size: 0.1px; padding-bottom: 50%;">.</p>
          <p style="color: black; font-size: 0.1px; padding-top: 2.5%;">.</p>
          <div class="btn_close_sesion">
            <button (click)="cerrar_sesion()" type="submit" style="width: 75%; height: 33px; margin-left: 16%; border-radius: 5px; font-size: 15px; text-align: center; color: white; background-color: lightslategrey;">CERRAR SESIÓN</button>
          </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>