<ion-header>
  <ion-toolbar> <!-- color="primary"-->
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button> <!--text="Configuración"-->
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="edit_profile">
  <ion-col>
    <div style="display: block; position:relative; margin-left: 6%;">
      <ion-spinner *ngIf="spiner" name="lines-small" style="position: absolute; z-index: 1; width: 55px; height: 55px;"></ion-spinner>
      <div style="display: flex;">
        <div style="width: 55px; height: 55px;">
          <ion-icon *ngIf="user" slot="start" src="/assets/icon/user.svg" style="width: 50px; height: 50px;"></ion-icon>
          <img [src]="imagen_base" *ngIf="imagen_base" style="width: 50px; height: 50px; border-radius: 24px;" alt/>
          <ion-icon slot="start" (click)="opciones( $event )" src="/assets/icon/add.svg" style="position: absolute; margin-left: -3.7%; margin-top: 12%; cursor: pointer;"></ion-icon>    <!--(click)="getPicture()"-->            
        </div>
      </div>
    </div>
  </ion-col>

  <ion-col>
      <ion-label>
          <div class="name_inpt" style="display: flex;">
          <div class="nombre_update" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 23%;">
                  <img src="/assets/icon/crear-nuevo-boton-de-lapiz.svg" style="width: 18px; height: 18px;"/>
                  <p style="color: black; font-size: 17.5px; margin-left: 10%;">Nombre</p>
        </div>
        <p style="color: black; text-align: right; width: 55%;">Luis</p><p style="color: black; font-size: 30px; margin-left: 10px;">></p>
        </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="correo_inpt" style="display: flex;">
          <div class="correo_update" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 20%;">
                  <img src="/assets/icon/sobre.svg" style="width: 18px; height: 18px;"/>
                  <p style="color: black; font-size: 17.5px; margin-left: 10%;">Correo</p>
                </div>
              <p style="color: black; text-align: right; width: 58%;">luis.medina@hyperiondg.com</p><p style="color: black; font-size: 30px; margin-left: 10px;">></p>
        </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="pass_inpt" style="display: flex;">
          <div class="password_update" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 35%;">
                  <img src="/assets/icon/bloquear.svg" style="width: 18px; height: 18px;"/>
                 <p style="color: black; font-size: 17.5px; margin-left: 6%;">Contraseña</p> 
                </div>
              <p style="color: black; text-align: right; width: 43%;">123</p><p style="color: black; font-size: 30px; margin-left: 10px;">></p>
        </div>
      </ion-label>
  </ion-col>
  <div class="bt" style="border-bottom: 2px solid black; margin-left: 7.5%; width: 85%; opacity: 0.2; margin-top: -5%; padding-bottom: 5%;">
  </div>
  <ion-col>
      <ion-label>
              <div class="icon_count" style="display: flex; margin-left: 7.5%; margin-bottom: .5%;">
                  <img src="/assets/icon/usuario-hombre.svg" style="width: 18px; height: 18px;"/>
                  <p style="color: black; font-size: 16.5px; margin-left: 3.4%;">Cuentas vinculadas</p> 
              </div>
      </ion-label>
      <p style="color: black; width: 43%; margin-left: 15.5%; font-size: 11.8px;">Tu cuenta de Facebook está vinculada a Adoptamed</p>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="btn_notif" style="display: flex;">
          <div class="icon_notification" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 68%;">
              <img src="/assets/icon/notificacion.svg" style="width: 18px; height: 18px;"/>
              <p style="color: black; font-size: 17.5px; margin-left: 3.4%;">Notificaciones PUSH</p>
            </div>
              <label class="switch">
                  <input type="checkbox" name="not">
                  <span class="slider round"></span>
              </label>
            </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="icon_exit" style="display: flex; margin-left: 7.5%; padding-top: 6%; margin-bottom: 3.5%;">
              <img src="/assets/icon/boton-eliminar.svg" (click)="close_application()" style="width: 18px; height: 18px; cursor: pointer;"/>
              <p style="color: black; font-size: 17.5px; margin-left: 3.4%;">Cerrar cuenta</p>
          </div>
      </ion-label>
  </ion-col>
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>
