.home_application{
    --background: url('/assets/icon/silueta_f.jpg') no-repeat 100% 100%;
  }
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .inputs_registro{
    color: white; 
    text-align: center; 
    border-bottom: 1.3px #ccc;
  }
  input:focus {
   // background: rgb(168, 168, 168);
   border-bottom: #30620f;
  }
  .item-md {
    background: transparent;
  }
  #regist_face{
    --background: #4e71ba; 
    --color: #ffffff;
    --border-radius: 7px;
  }
  #regist_google{
    --background: #ffffff; 
    --color: #ff0000;
    --border-radius: 7px;
  }
  #bt_access_face{
  --background: #4e71ba; 
  --color: #ffffff; 
  --border-radius: 7px;
  }
  #bt_access_google{
    --background: #ffffff; 
    --color: #ff0000;
    --border-radius: 7px
  }
  .boton_l{
    width: 40%;
    height: 35%;
    border-radius: 3px !important; 
    text-transform: none;
    color: white;
    background-color: black;
}

  .all{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 18%;
    background:transparent;
    position: fixed;
    z-index: 1;
  }
  @media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 800px ) and (max-width: 1280px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 768px ) and (max-width: 1024px ) {
    .all{
      padding-top: 29%;     
    }
  } 
  
  @media only screen and (min-width: 767px) and (max-width: 940px) {
    .all{
      padding-top: 40%;     
    }
  } 
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .all{
      padding-top: 78%;     
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 259px) {
    .all{
      padding-top: 98%;     
    }
    .carg{
        width: 25%;
        margin: auto;
        text-align: center;
        font-size: 5px;
    }
  }
  .carg{
    width: 35%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }
  .cargando{
    border: 1.5px solid rgb(0, 0, 0);     //CCC
    border-top: 2px;
    border-top-color: transparent;
    border-top-style: solid;
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 278px;
    animation:girar 1.0s linear infinite;
    -o-animation:girar 1.0s linear infinite;
    -webkit-animation:girar 1.0s linear infinite;
   // z-index: 1; ///Sin z-index
  }
  @keyframes girar{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
    }