<ion-content class="home_application" *ngIf="inicio" (click)="opciones()">
  <p id="container" style="font-weight: bold; font-size: 24px;">¡Bienvenido!</p>
</ion-content>

<ion-content class="home_application" *ngIf="registro_login">
  <div id="container">
    <div>
      <button (click)="entrar()" ion-button icon-start type="submit" style="width: 195px; height: 40px !important; border-radius: 8px !important; font-size: 14px; background-color: black; color: white; outline:none;">ENTRAR</button>
    </div>
    <div>
      <button (click)="registrar()" ion-button icon-start type="submit" style="width: 195px; height: 40px !important; border-radius: 8px !important; font-size: 14px; margin-top: 4%; background-color: black; color: white; outline:none;">REGISTRAR</button>
    </div>
  </div>
</ion-content>

<!--Entrar-->
<ion-content *ngIf="welcome" class="home_application" style="text-align: center;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <p style="color: white; margin-top: 25%;">.</p>
        <div text-center class="text">
          <ion-button id="regist_face"><img src="/assets/icon/simbolo-de-la-aplicacion-de-facebook.svg" style="width: 17px; height: 17px; margin-left: 0.3%;" />
            <p style="margin-left: 9px;">Entrar con Facebook</p>
          </ion-button>
        </div>
        <ion-label>
          <p style="padding: 1%;"></p>
        </ion-label>
        <div text-center class="text">
          <ion-button id="regist_google"><img src="/assets/icon/busqueda.svg"
              style="width: 17px; height: 17px; margin-left: 0.3%;" />
            <p style="margin-left: 9px;">Entrar con Google</p>
          </ion-button>
        </div>
        <div text-center style="margin-top: -5px;">
          <h4 style="color: black; font-weight: bold;">Entrar</h4>
        </div>
        <div padding>
          <ion-item style="width:75%;  margin:0 auto;  width:75%;" color="transparent" lines="none"> <!--color="transparent" lines="none"-->
            <ion-input color="transparent" style="text-align: center; border: 0;" type="text" placeholder="Correo electrónico" name="ed" #ed="ngModel" [(ngModel)]="login.mail"></ion-input>
          </ion-item>

          <ion-item style="width:75%;  margin:0 auto;" color="transparent" lines="none">
            <ion-input style="text-align: center;" type={{typepass}} placeholder="Contraseña" name="psw" #psw="ngModel" [(ngModel)]="login.password"></ion-input>
          </ion-item>
        </div>
        <div text-center style="margin-top: 5px;  margin-bottom: 10px;">
          <div text-center style="display: inline-flex;">
            <p style="color: black;">Si aun no tienes cuenta,</p>
            <p (click)="entrar_registro()" style="color: red; margin-left: 3px; cursor: pointer;">entrar aquí</p>
          </div>
        </div>
        <div text-center class="text">
          <button (click)="iniciar_sesion()" class="boton_l" ion-button icon-start type="submit"
            style="height: 40px !important; border-radius: 8px !important; font-size: 14px; outline:none;">ENTRAR</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!--Registrar-->
<ion-content *ngIf="register" class="home_application" style="text-align: center;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <p style="color: white; margin-top: 15%;">.</p>
        <div text-center class="text">
          <ion-button id="regist_face"><img src="/assets/icon/simbolo-de-la-aplicacion-de-facebook.svg" style="width: 17px; height: 17px; margin-left: 0.3%;" />
            <p style="margin-left: 9px;">Registrar con Facebook</p>
          </ion-button>
        </div>
        <ion-label>
          <p style="padding: 1%;"></p>
        </ion-label>
        <div text-center class="text">
          <ion-button id="regist_google"><img src="/assets/icon/busqueda.svg"
              style="width: 17px; height: 17px; margin-left: 0.3%;" />
            <p style="margin-left: 9px;">Registrar con Google</p>
          </ion-button>
        </div>
        <div text-center style="margin-top: -5px;">
          <h4 style="color: black; font-weight: bold;">Registrar</h4>
        </div>
        <div padding>
          <ion-item style="width:65%;  margin:0 auto;" color="transparent" lines="none">
            <ion-input style="text-align: center;" type="text" placeholder="Nombre" name="nomb" #nomb="ngModel" [(ngModel)]="registro.nombre"></ion-input>
          </ion-item>
          <ion-item style="width:65%;  margin:0 auto;" color="transparent" lines="none">
            <ion-input style="text-align: center;" type="text" placeholder="Primer apellido" name="ape" #ape="ngModel" [(ngModel)]="registro.apellido"></ion-input>
          </ion-item>
          <ion-item style="width:65%;  margin:0 auto;" color="transparent" lines="none">
            <ion-input style="text-align: center;" type="text" placeholder="Correo electronico" name="ed" #ed="ngModel" [(ngModel)]="registro.mail"></ion-input>
          </ion-item>
          <div class="ic" style="display: flex;">
            <div class="icn_eye" style="width: 100%;">
              <ion-item style=" width:65%;  margin:0 auto;" color="transparent" lines="none">
                <ion-input style="text-align: center;" type={{typepass}} placeholder="Contraseña" name="psw" #psw="ngModel" [(ngModel)]="registro.password"></ion-input>
              </ion-item>
            </div>
          </div>
          <ion-item style="width:65%;  margin:0 auto;" color="transparent" lines="none">
            <ion-input style="text-align: center;" type={{typepass}} placeholder="Confirmar contraseña" name="psswd" #psswd="ngModel" [(ngModel)]="confimar_pass"></ion-input>
          </ion-item>
        </div>
        <div text-center style="margin-top: 5px;  margin-bottom: 10px;">
          <div text-center style="display: inline-flex;">
            <p style="color: black;">Si ya tienes cuenta,</p>
            <p (click)="entrar_inicio()" style="color: red; margin-left: 3px; cursor: pointer;">entrar aquí</p>
          </div>
        </div>
        <div text-center class="text">
          <button (click)="registro_normal()" class="boton_l" ion-button icon-start type="submit"
            style="height: 40px !important; border-radius: 8px !important; font-size: 14px; outline:none;">ENTRAR</button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>

<ion-header *ngIf="alertas_" style="position: absolute;">
  <ion-toolbar class="new-background-color-alerta">
    <ion-title>
      <p style="text-align: center;">{{sms}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="alerta_correo" style="position: absolute;">
  <ion-toolbar class="new-background-color-alerta">
    <ion-title>
      <p style="text-align: center;">{{sms_correo}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="alertas_p" style="position: absolute;">
  <ion-toolbar class="new-background-color-alerta">
    <ion-title>
      <p style="text-align: center;">{{pass}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="alertas_c" style="position: absolute;">
  <ion-toolbar class="new-background-color-alerta">
    <ion-title>
      <p style="text-align: center;">{{credenciales}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="alertas_u" style="position: absolute;">
  <ion-toolbar class="new-background-color-alerta">
    <ion-title>
      <p style="text-align: center;">{{usuario_inex}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>